@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-SemiBold.ttf') format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.ttf') format('ttf');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.top_menu {
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
}

.menu_item {
    list-style: none;

}

.menu_link {
    text-decoration: none;
    padding: 0 20px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #282b30;
    display: inline-block;
}

.top_block_wrapper {
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
}

.top_block_wrapper.kids{
    background: url('../images/kids.jpg') center center;
    background-size: cover;
}

.top_block_wrapper.adults{
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
}

.top_block_wrapper.elders{
    background: url('../images/elders.jpg') center center;
    background-size: cover;
}

.top_block_title_wrapper {
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: inline-block;
}

.top_block_title {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    text-transform: uppercase;
}

.content_wrapper {
    padding: 60px 20px;
    width: 1000px;
    margin: 0 auto;
}

#bottom_wrapper {
    display: flex;
    align-items: center;
}

.content_title {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 40px;
}

.text {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #282b30;
    max-width: 560px;
}

.content_list {
    margin: 0 0 40px;
    padding: 0 0 0 20px;
}

.content_list_item {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #282b30;
    max-width: 380px;
}

.order_button {
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    background: #0fa8ea;
    font-size: 16px;
}

.order_button:hover {
    transition: .3s;
    background-color: blue;
    font-size: 18px;
}

.order_title {
    max-width: 340px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0 0 26px;
}

.order_text_wrapper {
    display: inline-block;
    width: 430px;
    margin-right: 110px;
}

.order_picture_wrapper {
    display: inline-block;
}

.reviews_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.reviews_section--title {
    width: 865px;
    height: 98px;
    font-family: 'Trirong', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 111px;
    color: #000000;
    padding-bottom: 5%;
}

.reviews--background_left{
    width: 20%;
    height: 20%;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review--title {
    width: 266px;
    height: 92px;
    font-family: 'Trirong', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    color: #000000;
}

.review--text {
    
    width: 430px;
    height: 106px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.bottom_menu {
    background: #e8e6eb;
    text-align: center;
    display: flex;
    justify-content: center;

}
